/*GENERAL STYLES*/
*
{
  box-sizing: border-box;
  margin: 0px;
}

#main-body
{
  background-color: #EDEDED;
}


.sections
{

  padding: 5rem;
}


/*NAVBAR STYLES*/
#main-nav
{
  margin-top: 0;
  /*background-color:  rgb(43 71 130);*/
  background-color: #283346;
  /*color: rgb(211 207 201);*/
  color: white;
}


.nav-link
{
  color: inherit;
  /*
    border-right: solid 1px white;
    border-image: linear-gradient(transparent 10%, white 40% 60%, transparent 90%) 0 1 0 0 / 1px;
  */
}
/*
  #last-button{
    border-right: none;
  }
*/


/*FOOTER*/
footer
{
  /*To keep it at the bottom*/
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  /*Colors*/
  /*background-color:  rgb(24 26 27 / 95%);*/
  /*background-color: #3D6098;
  color: rgb(211 207 201);
  */
  background-color: #283346;
  /*color: rgb(211 207 201);*/
  color: white;
  z-index: 1;
}

#Copyrights
{
  margin: 0;
}



/*SECTION TITLES STYLES. TO BE REMOVED*/
h6
{
  font-size: 40px;
  color: red;
  margin-left: 100px;
}




/*PROJECTS STYLES*/

.row
{

  row-gap: 4em;
}

.card
{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border: 1px solid rgb(0 0 0 / 13%);
  border-radius: 10%;
}

.card-title
{
  margin-top: 2em;
  font-weight: bold;
}

.card-text
{
  width:80%;
}

.card-img-top
{
  width: 100%;
}


/*WELCOME STYLES*/
#welcome-photo
{
  width:200px;
  height: 200px;
  margin: 0;
}

#welcome
{
  padding: 2.5rem;
  padding-top: 7.5rem;
  max-width: 100%;
  background-color: #3870ff;
  /*
    background-image: url("../icons/sherlock.jpg");
    background-size: cover;
  */
  height: 80vh;
}




/*CONTACTS STYLES*/
#contacts img, #contacts svg
{
  height: 4em;
  width: 4em;
  color: #3870ff;

}
#contacts li
{
  list-style-type: none;
}

#contacts
{
  max-width: 50%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

i
{
  margin-top: 1em;
}




/*CANVAS STYLES*/
.offcanvas
{
  height: 100vh;
  flex: 1;
  width: 100vw;
}

.project-image
{
  height: 20rem;
  width: 40rem;
}

.offcanvas-header
{

  width: 100vw;

}
.offcanvas-body::-webkit-scrollbar {
  display: none;
}
.offcanvas-body
{
  -ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}




/* ABOUT STYLES */
#about-img
{
  width: 15rem;
  height: 100%
  object-fit: cover;;
}









#filler
{
  width: 15rem;
  height: 25rem;
  background-color: #050544;
}

.info
{
  border:2px solid #050544;
}

.enlarge:hover
{
  cursor: pointer;
  transform: scale(1.3);
}


button[data-bs-toggle]
{
  background-color: #3870ff;
}

.titles
{
  border-bottom: 0.15rem #c1c1c1 solid;
  width: auto;
  word-wrap: break-word;
  display:inline-block;
  width: fit-content;
  padding: 1rem;
  margin-bottom: 3rem;

}
.even
{
    background-color: #edeeef;
}
.odd
{
  background-color: white;
}
.list-group-item
{
  background-color: #edeeef;
}

#contact-header
{
    margin-bottom: 7rem;
}

#projects-info
{
  width: 60%;
  text-align: center;

}

.btn-primary
{
  border: none;
  borde
}


{}
