/*General rules*/
*
{
  box-sizing: border-box;
  margin: 0px;
}
body
{
  /*So that the body don't overlap with nav or footer*/
  margin-top: 100px;
  margin-bottom: 20px;
}

/*NAV BAR STYLES*/
#mainNav
{
  /*To keep h1 at right and buttons and left both at center vertically*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  /*Colors*/
  background-color:  rgb(43 71 130);
  color: rgb(211 207 201);

  /*to get the width and height*/
  padding: 1rem;
  width: 100vw;
  height: 5em;

  /*to keep it fixed at the top*/
  position: fixed;
  top: 0;

  font-family: 'Work Sans', sans-serif;
  z-index: 1;
}


/*FOOTER STYLES*/
footer
{
  /*To keep it at the bottom*/
  position: fixed;
  bottom: 0;

  text-align: center;
  width: 100%;
  /*Colors*/
  background-color:  rgb(24 26 27 / 95%);
  color: rgb(211 207 201);
  z-index: 1;
}

/*Main title 'h1'*/
#main-title
{

  padding: 1em;

}

#navBarContainer
{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.navButtons
{

  list-style-type: none;
  margin-right: 15px;
  font-size: 125%;
  border-right: solid 1px white;
  padding-right: 10px;
}

#last-button
{
  border-right: none;
}


/*For the nav buttons when hover*/
.navButtons:hover
{
  color: #545961;
}




/*just temp till i can put real images*/
img
{
  height: 100px;
  width: 100px;
}

/*temp for python and java pages*/
.projectsButtons
{
  background-color: #2c3036;
  float: right;
  position: relative;
  margin: 20px;
}






/*About page contact icons*/
#contacts
{

}
img.photo
{
  width:  50px;
  height: 50px;
}
.contact-icons
{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.items
{
  list-style-type: none;
  margin-left: 30px;
}

#contact-main
{
  box-sizing: border-box;
  margin-top: 9em;
  margin-left: 5em;
}



#python-main, #java-main
{
  margin: 20px;
}

#python-main p, #java-main p
{
  margin: 20px;;
}




#python-main img
{
  height: 250px;
  width: 250px;

}


#python-main img:hover
{
  height: 250px;
  width: 250px;
  filter: blur(5px);
}


.image-container
{
  width: 100%;
}
.view-projects
{
  padding: 1.5em;
  border-radius: 5em;
  border-color: blue;
  background-color: grey;

}





/*USEFUL PROPERTIES FOR BUTTON ON IMAGES , PROJECTS PAGE
.image-container {
  position: relative;
  width: 50%;

}

 Make the image responsive
.image-container img {
  width: 100%;
  height: auto;
}
 Style the button and place it in the middle of the container/image
.image-container .view-projects {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-200%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


*/










/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

/*
*
* ==========================================
* FOR DEMO PURPOSE
* ==========================================
*
*/

body {
  background: #ff7e5f;
  background: -webkit-linear-gradient(to right, #ff7e5f, #feb47b);
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  min-height: 100vh;
}

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

div.h4 {
  line-height: 1rem;
}





{}
